button{
    background-color:$button-color;
    color: rgba(252, 252, 252, 0.954);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    border-radius: 18px; 
    margin: 15px;  
}