// _variables.scss
$background-image-color: linear-gradient( #7238de, rgb(242, 154, 1), #ffbf009d);
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color:white;
$font-stack: 'Arial', sans-serif;
$button-color:#7238de;


$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
